#about{
    .entry-content{
        .wp-block-gallery{
            padding: 0 2em;
        }
        .slider-pro{
            img.sp-image{
                width: 70% !important;
                margin: 0 auto;
            }
        }
    }
    .video-container{
        display: flex;
        max-width: 95%;
        background-color: $charcoal;
        iframe{
            width: 100%;
            height: 53.3vw;
        }
    }
    .video-container:nth-child(5){
        margin-left: auto;
        margin-top: 1em;
    }
}
@media only screen and (min-width: 576px){
    #about{
        padding: 0 5vw;
    }
}
@media only screen and (min-width: 765px){
    #about{
        padding: 0 10vw;
        .about-img{
            width: 70%;
            margin: 1em auto;
        }
        .video-container{
            max-width: 80%;
            iframe{
                height: 36vw;
            }
        }
    }
}
@media only screen and (min-width: 1024px){
    #about{
        padding: 0 15vw;
        .video-container{
            iframe{
                height: 31.5vw;
            }
        }
    }
}
@media only screen and (min-width: 1167px){
    #about{
        padding: 0;
        .video-container{
            max-width: 65%;
            iframe{
                height: 25.5vw;
            }
        }
    }
}
@media only screen and (min-width: 1280px){
    #about{
        .entry-content{
            .main-text{
                width: 80%;
            }
        }
        .about-img{
            width: 50%;
        }
        .video-container{
            max-width: 60%;
            margin-left: 5vw;
            iframe{
                height: 23.5vw;
            }
        }
        .video-container:nth-child(5){
            margin-right: 5vw;
        }
    }
}
@media only screen and (min-width: 1884px){
    #about{
        .video-container{
            iframe{
                height: 20.5vw;
            }
        }
    }
}